/.composer.lock
/.git/
/app/cache/
/app/config/parameters.yml
/app/logs/
/app/phpunit.xml
/app/Resources/node_modules/*
/app/Resources/java/*
/app/sessions/
/bin/
/build/
/composer.lock
/vendor/
/web/bundles/
/web/css/
/web/js/
/web/dbg.php
.DS_Store
.vim*
.bash*
php_*
UPGRADE*
*~*
